<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="static/vendors/feather/feather.css">
  <link rel="stylesheet" href="static/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
 
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="static/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="static/js/select.dataTables.min.css">
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="static/assets/css/templatemo-chain-app-dev.css">
  <link rel="stylesheet" href="static/assets/css/animated.css">
  <link rel="stylesheet" href="static/assets/css/owl.css">

  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="static/css/vertical-layout-light/style.css">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- endinject -->
  <link rel="shortcut icon" href="static/images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="static/images/logo.svg" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="static/images/logo-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="static/images/faces/face28.png" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{url_for('logout')}}">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>

            </a>
          </li>
          
          <li class="nav-item">
            
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="static/pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="static/pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{ url_for('opencam') }}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title" target="blank">Monitoring</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{session.username}}</h3>
                  <h6 class="font-weight-normal mb-0">All systems are running smoothly ! You have <a href="{{ url_for('db') }}" target="_blank">Input Monitoring Trash</a></h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="static/images/dashboard/people.svg" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Tegal</h4>
                        <h6 class="font-weight-normal">Indonesia</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p style = "color: aliceblue;"class="mb-4">Plastik</p>
                      <p style = "color: aliceblue;"class="fs-30 mb-2">0000</p>
                      <p style = "color: aliceblue;">00% (30 days)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p style = "color: aliceblue;"class="mb-4">Metal</p>
                      <p style = "color: aliceblue;"class="fs-30 mb-2">0000</p>
                      <p style = "color: aliceblue;">00% (30 days)</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p style = "color: aliceblue;"class="mb-4">Botol</p>
                      <p style = "color: aliceblue;"class="fs-30 mb-2">0000</p>
                      <p style = "color: aliceblue;">00% (30 days)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p style = "color: aliceblue;"class="mb-4">Kertas</p>
                      <p style = "color: aliceblue;"class="fs-30 mb-2">0000</p>
                      <p style = "color: aliceblue;">00% (30 days)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div id="clients" class="the-clients">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                      <div class="section-heading">
                        <h4>Kelompok <em>Deteksi Sampah</em> Development</h4>
                        <img src="static/assets/images/heading-line-dec.png" alt="">
                        <p>Politeknik Harapan Bersama</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="naccs">
                        <div class="grid">
                          <div class="row">
                            <div class="col-lg-7 align-self-center">
                              <div class="menu">
                                <div class="first-thumb active">
                                  <div class="thumb">
                                    <div class="row">
                                      <div class="col-lg-4 col-sm-4 col-12">
                                        <h4>Garin Irsyad Choriri</h4>
                                        <span class="date">19090146</span>
                                      </div>
                                      <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                        <span class="category">FullStack Development</span>
                                      </div>
                                      <div class="col-lg-4 col-sm-4 col-12">
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <span class="rating">4.8</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <div class="thumb">
                                    <div class="row">
                                      <div class="col-lg-4 col-sm-4 col-12">
                                        <h4>Rizqi Amalia</h4>
                                        <span class="date">19090031</span>
                                      </div>
                                      <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                        <span class="category">FrontEnd</span>
                                      </div>
                                      <div class="col-lg-4 col-sm-4 col-12">
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <span class="rating">4.5</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <div class="thumb">
                                    <div class="row">
                                      <div class="col-lg-4 col-sm-4 col-12">
                                        <h4>Ivan Satria</h4>
                                        <span class="date">19090082</span>
                                      </div>
                                      <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                        <span class="category">database</span>
                                      </div>
                                      <div class="col-lg-4 col-sm-4 col-12">
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <span class="rating">4.7</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <div class="thumb">
                                    <div class="row">
                                      <div class="col-lg-4 col-sm-4 col-12">
                                        <h4>Affry</h4>
                                        <span class="date">18909026</span>
                                      </div>
                                      <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                        <span class="category">Machine Learning</span>
                                      </div>
                                      <div class="col-lg-4 col-sm-4 col-12">
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <span class="rating">3.9</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div> 
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="container">
            <div class="chatbox">
                <div class="chatbox__support">
                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                        </div>
                        <div class="chatbox__content--header">
                            <h4 class="chatbox__heading--header">ChatBot Skydash</h4>
                            <p class="chatbox__description--header">Hi. My name is SkyDash. How can I help you?</p>
                        </div>
                    </div>
                    <div class="chatbox__messages">
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <input type="text" placeholder="Write a message...">
                        <button class="chatbox__send--footer send__button">Send</button>
                    </div>
                </div>
                <div class="chatbox__button">
                    <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
                </div>
            </div>
        </div>
        
            <script>
                $SCRIPT_ROOT = '{{ request.script_root|tojson }}'
            </script>
            <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
        </div>
        
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span> 
          </div>
        </footer> 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="static/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="static/vendors/chart.js/Chart.min.js"></script>
  <script src="static/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="static/js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/hoverable-collapse.js"></script>
  <script src="static/js/template.js"></script>
  <script src="static/js/settings.js"></script>
  <script src="static/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="static/js/dashboard.js"></script>
  <script src="static/js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
  <!-- Scripts -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/js/owl-carousel.js"></script>
  <script src="static/assets/js/animation.js"></script>
  <script src="static/assets/js/imagesloaded.js"></script>
  <script src="static/assets/js/popup.js"></script>
  <script src="static/assets/js/custom.js"></script>
</body>

</html>

