<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="static/vendors/feather/feather.css">
  <link rel="stylesheet" href="static/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="static/vendors/codemirror/codemirror.css">
  <link rel="stylesheet" href="static/vendors/codemirror/ambiance.css">
  <link rel="stylesheet" href="static/vendors/pwstabs/jquery.pwstabs.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="static/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="static/images/favicon.png" />
</head>

<body>
  
    <div class=" container-scroller">
            <div class="content-wrapper">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 pt-5">
                    <a class="btn btn-primary" href="{{ url_for('index') }}"><i class="ti-home mr-2"></i>Back to home</a>
                  
                    <center>
                      <h1>Monitoring</h1>
                      <div id="container">
                        <img id="videoElement" src="{{ url_for('video_feed') }}" />
                        <form id="control">
                          Camera preview:
                          <a id="cam-preview"><button class="btn btn-default">On/Off</button></a>
                          Flip horizontal:
                          <a id="flip-horizontal"><button class="btn btn-default">On/Off</button></a>
                          Run detection model:
                          <a id="use-model"><button class="btn btn-default">On/Off</button></a>
                          <br />
                          <br />
                          Exposure:
                          <a id="exposure-down"><button class="btn btn-default">-1</button></a>
                          <a id="exposure-up"><button class="btn btn-default">+1</button></a>
                          Contrast:
                          <a id="contrast-down"><button class="btn btn-default">-4</button></a>
                          <a id="contrast-up"><button class="btn btn-default">+4</button></a>
                          <br />
                          <br />
                          <a id="reset-cam"><button class="btn btn-default">Reset camera</button></a>
                        </form>
                      </div>
                      </center>
                    </div>
                </div>
              </div>
            </div>
            
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
            <!-- partial -->
          </div>
        </div>
      </div>
<!-- plugins:js -->

<script src="static/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="static/js/off-canvas.js"></script>
<script src="static/js/hoverable-collapse.js"></script>
<script src="static/js/template.js"></script>
<script src="static/js/settings.js"></script>
<script src="static/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="static/js/codeEditor.js"></script>
<script src="static/js/tabs.js"></script>
<script src="static/js/tooltips.js"></script>
<script src="static/js/documentation.js"></script>
<!-- End custom js for this page-->
<!-- Imports -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Scripts -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename='script.js') }}">
</script>
</body>

</html>